@font-face {
    font-family: 'Apercu';
    src:  url('../font/Apercu-Bold.woff2') format('woff2'),
         url('../font/Apercu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src:  url('../font/Apercu-Italic.woff2') format('woff2'),
         url('../font/Apercu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src:  url('../font/Apercu-BoldItalic.woff2') format('woff2'),
         url('../font/Apercu-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src:  url('../font/Apercu-Light.woff2') format('woff2'),
         url('../font/Apercu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src:  url('../font/Apercu-MediumItalic.woff2') format('woff2'),
         url('../font/Apercu-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Mono';
    src:  url('../font/Apercu-Mono.woff2') format('woff2'),
         url('../font/Apercu-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src:  url('../font/Apercu-LightItalic.woff2') format('woff2'),
         url('../font/Apercu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src:  url('../font/Apercu-Medium.woff2') format('woff2'),
         url('../font/Apercu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src:  url('../font/ApercuPro-Bold.woff2') format('woff2'),
         url('../font/ApercuPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src:  url('../font/ApercuPro-Italic.woff2') format('woff2'),
         url('../font/ApercuPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src:  url('../font/ApercuPro-BoldItalic.woff2') format('woff2'),
         url('../font/ApercuPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src:  url('../font/ApercuPro-MediumItalic.woff2') format('woff2'),
         url('../font/ApercuPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src:  url('../font/ApercuPro-LightItalic.woff2') format('woff2'),
         url('../font/ApercuPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src:  url('../font/ApercuPro-Light.woff2') format('woff2'),
         url('../font/ApercuPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro Mono';
    src:  url('../font/ApercuPro-Mono.woff2') format('woff2'),
         url('../font/ApercuPro-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src:  url('../font/ApercuPro-Medium.woff2') format('woff2'),
         url('../font/ApercuPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu Pro';
    src:  url('../font/ApercuPro-Regular.woff2') format('woff2'),
         url('../font/ApercuPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src:  url('../font/Apercu-Regular.woff2') format('woff2'),
         url('../font/Apercu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbane Rounded';
    src: url('../font/UrbaneRounded-Medium.eot');
    src: url('../font/UrbaneRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/UrbaneRounded-Medium.woff2') format('woff2'),
        url('../font/UrbaneRounded-Medium.woff') format('woff'),
        url('../font/UrbaneRounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbane Rounded';
    src: url('../font/UrbaneRounded-Light.eot');
    src: url('../font/UrbaneRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/UrbaneRounded-Light.woff2') format('woff2'),
        url('../font/UrbaneRounded-Light.woff') format('woff'),
        url('../font/UrbaneRounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
