@media (min-width: 1300px) and (max-width: 2000px) {
  .d-none-xxl {
    display: none;
  }
  .toggle-menu {
    display: none;
  }
  .patner-img img{
    height: 126px;
    width: 126px;
  }
  .social-midia-icon {
  padding: 50px 0;
}
  .xxl-flex-bitween {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    padding: 0px 114px;
    max-width: 1368px;
  }
  .xxl-w-3 {
    width: 25%;
  }
  .xxl-w-4 {
    width: 33.33%;
  }
  .xxl-w-6 {
    width: 50%;
  }
  .xxl-w-12 {
    width: 100%;
  }
  .d-none-xxl {
    display: none;
  }
  .xxl-flex-bitween{
    flex-direction: row;
  }
  .toggle-item {
    /* display: none; */
  }
  .xxl-flex-bitween {
    justify-content: space-between;
  }
    .toggle-menu {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 767px;
    padding: 0 20px;
  }
  .xl-flex-direction{
     flex-direction: column;
  }
  .xl-d-none{
    display: none;
  }
  .social-midia-icon {
    padding-bottom: 55px;
  }
   .xl-d-block{
    display: flex;
  }
    .patner-img img{
    height: 104px;
    width: 104px;
  }
  .patner-img h2{
    font-size: 24pt;
  }
  .logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125px;
    height: 90px;
    width: 130px;
  }
  .menu-gap{
  gap: 20px;
}
.xl-order-1 {
    order: 1;
  }
  .xl-order-2 {
    order: 2;
  }
  .xl-w-3 {
    width: 25%;
  }
  .xl-w-4 {
    width: 33.33%;
  }
  .xl-w-6 {
    width: 50%;
  }
  .customer-feedback .slick-dots {
    position: absolute;
    transform: rotate(-90deg);
    right: 28%;
    display: flex;
    gap: 10px;
    bottom: -200px;
    flex-direction: column;
}
footer{
  max-height: 100%;
}
  .xl-justify-content-center{
justify-content: center;
  }
  .xl-w-12 {
    width: 100%;
  }
    .flesh{
    top: -30px;
  }
    .toggle-menu {
    display: none;
  }
  .d-block-xl{
    display: block;
  }
.footer-item {
    position: absolute;
    width: 100%;
    top: -30px;
    left: 0;
}
.flex-direction-column{
  align-items:start;
} 
.small-black-box {
     right: 220px;
}
.only-text h2{
  font-size: 24px;
}
.only-text p{
  font-size: 12px;
}
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 575px;
  }
  .lg-w-3 {
    width: 25%;
  }
  .lg-w-4 {
    width: 33.33%;
  }
  .lg-w-6 {
    width: 50%;
  }
  .lg-w-12 {
    width: 100%;
  }
  .title-formet h2{
    font-size: 34px;
  }
  .tow-col {
    gap: 20px;
  }
  .from-in>.gap{
    gap: 0;
  }
  .lg-none{
    display: none;
  }
  .lg-block {
    display: block;
  }
  .toggle-menu {
    display: block;
  }
  .lg-flex-bitween {
    justify-content: space-between;
  }
  footer{
    max-height: 100%;
  }
  .menu-in {
    display: none;
    color: rgb(255, 255, 255);
  }
  .right-side-footer h2{
    font-size: 40px;
  }
  .top-header {
    display: none;
  }
  .lg-flex-direction {
    flex-direction: column;
  }
  .lg-order-1 {
    order: 1;
  }
  .contech-icon li{
    max-width: 100%;
  }
  .lg-order-2 {
    order: 2;
  }
  .btn{
    width: 206px;
  }
  .button-gorup .btn{
    margin: 0 auto;
  }
.customer-feedback .slick-dots {
    position: absolute;
    transform: rotate(90deg);
    right: 75%;
    display: flex;
    gap: 10px;
    bottom: -100px;
    flex-direction: column;
}
  .button-gorup{
    justify-content:center;
    flex-direction: column;
  }
    .lg-justify-center {
    justify-content: center;
  }
  .lg-justify-start {
    justify-content: start;
  }
  .lg-justify-content-start {
    justify-content: start;
  }
  .lg-gap{
    gap: 20px;
  }
  .two-box-sec{
    margin-top: 80px;
  }
  .two-col-sec{
    padding: 0 0;
    margin-top:80px ;
  }
  .two-col-sec > .container > .row > .w-6 {
    height: 100%;
    min-height: 0px;
}
.stor-img img {
    display: block;
    width: 100%;
   height: 300px;
    }

.stor-img {
    width: 100%;
    height: 50%;
    position: static;
    margin-top: 80px;
}
    .small-black-box {
        right: 120px;
    }
.slied-customer-info h2{
  font-size: 28PX;
}
/* .direction-path{
  display: none;
} */
.flex-direction-column{
  align-items:start;
} 
.from-control{
 width: 100%;
}
.footer-item {
    position: absolute;
    width: 100%;
    top: -30px;
    left: 0;
}
  .slider-benner-section .slick-dots {
    position: absolute;
    transform: rotate(-90deg);
    right: 20%;
    display: flex;
    gap: 10px;
    bottom: -106px;
    flex-direction: column;
}
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
  .sm-w-3 {
    width: 25%;
  }
  .sm-w-4 {
    width: 33.33%;
  }
  .sm-w-6 {
    width: 50%;
  }
  .sm-w-12 {
    width: 100%;
  }
  .slider-box {
    width: 100%;
  }
  .scroll-sec {
    padding: 20px 30px;
  }
.slider-benner-section .slick-dots {
        position: absolute;
        transform: rotate(-90deg);
        right: -8%;
        display: flex;
        gap: 10px;
        bottom: -106px;
        flex-direction: column;
    }
}
